@media #{$break-lg} {

	body {
		font-size: 1.125rem;
		font-weight: 300;
	}

	h2 {
		text-align: left;
	}

	h6 {
		line-height: 1.1;
		font-size: .889rem;
		font-weight: normal;
	}

	main {
		margin-top: 6rem;
	}

	header {
		position: fixed;
		top: 0;
		z-index: 1000;
		margin-bottom: 1.5rem;
	}

	footer {
		text-align: left;
	}

	p {
		max-width: 600px;
	}

	header h1 {
		float: left;
		margin-bottom: 0;
	}

	header nav {
		float: right;
		position: relative;
		top: 3px;
	}

	header nav a {
		font-weight: normal;
	}

	main#portfolio a {
		width: 25%;
	}

	main#works article {
		padding-top: 8rem;
	}

	main#works figcaption {
		max-width: inherit;
	}

}