header {
	width: 100%;
	background: $color-dark;
	text-transform: lowercase;
}

header a h1 {
	color: $white;
	transition-duration: .1s;
}

header a h1:hover {
	opacity: .7;
}

header a {
	border-bottom: none;
}

// Main Navigation

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	list-style-type: none;
}

nav ul li + li {
	margin-left: 1rem;
	padding-left: 1rem;
	border-left: 1px solid lighten($color-dark, 30%);
}