main#works {
	margin-top: 0;
	padding-top: 0;
}

main#works h2 {
	text-align: left;
}

main#works article {
	padding-top: 2rem;
}

main#works figure {
	position: relative;
}

main#works figure a {
	border-bottom: 0;
}