@media (min-width: 1024px) {
  body {
    padding: 2rem;
  }
  
  header, main, footer {
    max-width: 1024px;
  }

  header {
    margin: 0 auto;

    a {
      outline: none;
      transition: .1s opacity;

      &:hover, &:focus {
        opacity: .5;
      }

      &:active {
        opacity: .7;
      }
    }
  }

  main, footer {
    margin: 0 auto;
  }

  section, #works h2 {
    padding-left: 0;
    padding-right: 0;
  }
  
  footer {
    margin-top: 3rem;
    padding: 0;
  }
  
  #about {
    p {
      font-size: 1.2rem;
    }
  }

  #skills-list {
    li {
      width: 20%;
    }
  }
  
  #works-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;

    li {
      padding: 0;

      article {
        grid-template-columns: none;

        figure {
          margin-bottom: 1.5rem;

          a {
            outline: none;

            &:hover > img, &:focus > img {
              transition: .1s opacity;
              opacity: .7;
            }

            &:active > img {
              opacity: .85;
            }
          }
        }

        .project-links {
          padding: 0;

          a {
            outline: none;
            transition: .1s background-color;
            
            &:hover, &:focus {
              background-color: rgb(215, 215, 215);
            }
        
            &:active {
              background-color: rgb(200, 200, 200);
            }
          }
        }

        h3,
        .project-description {
          padding: 0;
        }
      }
    }
  }

  #contact-list {
    li {
      font-size: 1.15rem;
      
      a {
        outline: none;
        transition: .1s background-color;
        
        &:hover, &:focus {
          background-color: rgb(215, 215, 215);
        }
    
        &:active {
          background-color: rgb(200, 200, 200);
        }
      }
    }
  }
}
