@media (min-width: 1024px) {
  #works-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    article {
      grid-template-rows: 1fr 2fr;
      grid-template-columns: none;
      grid-auto-flow: row dense;
    }
  }
}
