@media (min-width: 736px) {
  #about {
    article {
      font-size: 1rem;
    }
  }

  #contact-list {
    display: flex;
    list-style: none;
    justify-content: space-between;

    li {
      min-width: 16%;
      font-size: .85rem;
      text-align: center;
      
      a {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        border-radius: 5px;
        padding: 1rem;
        
        background-color: rgb(230, 230, 230);
        text-decoration: none;
      }
    }
  }

  #works {
    .project-description {
      font-size: 1rem;
    }
  }
}
