* {
	box-sizing: border-box;
}

body {
	background: #333;
	font-family: Roboto, Arial, sans-serif;
	font-size: .889rem;
	line-height: 1.6;
	color: #fff;
}

header,
main,
footer {
	padding: 2rem;
}

section, article, .container {
	max-width: 900px;
	margin: 0 auto;
}

article {
	max-width: 600px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

h1 {
	margin: 0 0 1.1rem;
	font-size: 1.266rem;
}

h2 {
	font-size: 1.266em;
}

h6 {
	margin: 0 auto;
	font-size: .624rem;
}

p,
figcaption {
	max-width: 600px;
}

a,
figcaption a {
	border-bottom: 1px solid;
	color: #ccc;
	text-decoration: none;
	transition: color .1s,
				opacity .1s;
}

a:hover {
	color: #fff;
}

img	{
	width: 100%;
}

article:last-child {
	margin-bottom: 2rem;
}

figure {
	margin: 0;
	text-align: left;
}

figure img:last-of-type,
figure a img {
	margin-bottom: 1rem;
}

figure a:hover {
	opacity: .6;
}

.container {
	@extend %group;
}