#works {
  padding: 0;

  h2 {
    padding: 0 2rem;
  }
  
  ul {
    list-style: none;
  }
  
  article {
    figure {
      width: 100%;
      margin: 0;
  
      img {
        display: block;
        width: 100%;
      }
    }

    section {
      padding: 0;
    }
  }

  h3 {
    padding: 0 2rem;
    margin: 2rem 0 1rem;
  }

  .project-links {
    margin-bottom: 1.5rem;
    padding: 0 2rem;
    
    li {
      display: inline-block;

      &:last-child {
        margin-right: 0;
      }

      a {
        padding: 0.5rem 1rem;
        border-radius: 5px;

        font-size: 0.85rem;
        background-color: rgb(230, 230, 230);
        text-decoration: none;

        &:active {
          background-color: rgb(209, 209, 209);
        }
      }
    }
  }

  .project-description {
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
  
}
